/.idea
/.fleet
/heycart-cli*
dist/
/completions
/local
/.heycart-cli
/.shopware-project.yml
/.shopware-project.yaml
/test-app
/go-shopware-admin-api-sdk
/*.zip
/Frosh*
/Swag*
/result
/project
dump.sql*

/testdata

# Devenv
.devenv*
devenv.local.nix

/.direnv
