/.idea
/.fleet
/heycart-cli*
dist/
/completions
/local
/.heycart-cli
/.heycart-project.yml
/.heycart-project.yaml
/test-app
/go-heycart-admin-api-sdk
/*.zip
/Frosh*
/Swag*
/result
/project
dump.sql*

/testdata

# Devenv
.devenv*
devenv.local.nix

/.direnv
